body {
  background-color: #a1cf95;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{ 
  /* background-color: #fff; */
  background-color: #374134;
  margin: 30px auto;
  width: 220px;
  padding-bottom: 0px;
  height: auto;
  line-height: 0.4em;
  border-radius: 10px;
  /* border: 1px solid black; */
}
.info-header{
  text-align: left;
  font-size: 16px;
}
.description{
  font-size: 12px;
  line-height: 1.3em;
  text-align: left;
}
.house-img{
  width:220px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.info{
  padding:5px 15px;
  text-align: center;
  border-radius: 0px 0px 10px 10px ;
  color: #fff;
}
.job{
  font-size: 12px;
}
hr{
  color: #fff;
}
a{
  text-decoration: none;
}
.btn{
  font-weight: bold;
  font-weight: 400;
  margin: 2px 5px;
  padding: 3px 8px;
  color: #374134;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
}
.button{
  align-items: center;
}